header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.container {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
display: inline;
margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 20px;
}

.titulo-principal {
   padding-left: 30px;
}

p {
    text-align: center;
    
}

em strong {
    color: red;
}

#mision {
    font-size: 20px;
}

.diferenciales {
    background: #ffffff;
    padding: 30px;
}

.titulo-centro {
    text-align: center;
}

.diferenciales ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items {
    font-style: italic;
}

.imagenDiferencial {
    width: 50%;
}
footer{
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

