
#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 20px;
}

.titulo-principal {
   padding-left: 30px;
}

p {
    text-align: center;
    
}

em strong {
    color: red;
}

#mision {
    font-size: 20px;
}

.diferenciales {
    background: #ffffff;
    padding: 30px;
}

.titulo-centro {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items {
    font-style: italic;
}

.imagenDiferencial {
    width: 50%;
}
